# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.coverage
coverage.xml

# Project specific
outputs/
simple/
error_log.txt
*.out
*.metadata

# Large binary files (Wheels, Source Distributions)
*.whl
*.tar.gz
*.zip
*.egg
*.egg-info/

# OS specific
.DS_Store
Thumbs.db
